$black: #303030;
$width: 800px;
$purple: #262161;
$yellow: #ff512f;
$pink: #ee7297;
$green: #93ff00;
$red: #e50714;
$grey: lighten(grey, 40%);
$shad: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
$grad: #ff512f;
$verticalGrad: linear-gradient(0, #ff512f, #dd2476);
